<div class="row">
	<div class="col-xs-4">
		<a href="/">SowingSeasons.com</a> - 2015-2016
		<br>
		<adress>
			<strong>Blake VandeMerwe</strong>
			<br>
			<br>
			<span class="text-muted">social</span>
			<br>
			<i class="fa fa-envelope icon-left"></i><a href="mailto: {{ seo.author_email }}">blakev@null.net</a>
			<br>
			<i class="fa fa-github icon-left"></i>
			<a href="https://github.com/blakev">GitHub</a> (<a href="https://github.com/blakev/sowing-seasons">this project</a>)
			<br>
			<i class="fa fa-twitter icon-left"></i>
			<a href="https://twitter.com/bvandemerwe">Twitter</a>
			<br>
			<i class="fa fa-youtube icon-left"></i>
			<a href="https://www.youtube.com/user/LightShadow756/featured">Youtube</a>
		</adress>
	</div>
	<div class="col-xs-4">
		<strong>Attribution</strong>

		<div class="row">
			<div class="col-xs-6">
				<span class="text-muted">powered by</span>
				<ul class="list-unstyled">
					<li>Python</li>
					<li>Whoosh</li>
					<li>Tornado</li>
				</ul>
			</div>
			<div class="col-xs-6">
				<span class="text-muted">styled by</span>
				<ul class="list-unstyled">
					<li>Bootstrap</li>
					<li>Bootswatch</li>
					<li>SubtlePatterns</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="col-xs-4">
		<strong>Meta</strong>
		<br>
		<a href="/login">Login</a>
	</div>
</div>