{% macro do_keywords(post) -%}
{%- for k in post.keywords|split(',')|sort %}
    <a class="btn btn-xs btn-link" href="/search/keywords/{{ k|strip }}">{{ k }}</a>
{%- endfor %}
{%- endmacro %}

{% macro post_link(post, bgclass) %}
<div class="container-fluid {{ bgclass }}">
	<div class="row post-link-title">
		<div class="col-xs-1">
			<h2><i class="fa fa-file-text-o icon-left"></i></h2>
		</div>
		<div class="col-xs-10">
			<h2>
				<a href="{{ post|slugify }}">{{ post.title }}</a>
			</h2>
		</div>
	</div>

	<div class="row post-link-header">
		<div class="col-xs-3">
			<i class="fa fa-code icon-left"></i>
			<a class="btn btn-xs btn-link" href="/search/topic/{{ post.topic }}">{{ post.topic }}</a>
		</div>
		<div class="col-xs-6">
			<i class="fa fa-hashtag icon-right icon-left"></i>{{- do_keywords(post) }}
		</div>
		<div class="col-xs-3 text-right">
			<i class="fa fa-calendar-o icon-right icon-left"></i>{{ post.modified|datetime_format }}
		</div>
	</div>

	{% if current_user %}
		<a href="/admin/create?post_id={{ post.uuid }}">Edit</a>
	{% endif %}

	<div class="row">
		<div class="col-xs-12">
			<div class="row text-uppercase text-muted small">
				<div class="col-xs-6">
					summary
				</div>
				<div class="col-xs-6 text-right">
					media
					{% if post.statics %}
						<i class="fa fa-check icon-right text-success"></i>
					{% else %}
						<i class="fa fa-times icon-right text-default"></i>
					{% endif %}
				</div>
			</div>

			<p>
				<em class="quote">{{ post.summary }}</em>
			</p>
		</div>
	</div>

	<div class="row post-link-footer">
		<div class="col-xs-12">
			<p class="post-summary">
				{{ post.content|markdown|safe|truncate(300)}}
			</p>
		</div>
	</div>
</div>
{% endmacro %}

{% macro render_navigation(keywords, topics) %}

    <h3>Topics</h3>
    <ul class="list-unstyled">
    {% for topic in topics|sort %}
        <li class="text-capitalize">
            <a href="/search/topic/{{ topic }}">{{ topic }}</a>
        </li>
    {% endfor %}
    </ul>
    <h3>Keywords</h3>
    <ul class="list-unstyled">
    {% for kw, count in keywords|sort %}
        <li>
            <span class="label label-default inline-label">{{ count }}</span>
            <a href="/search/keywords/{{ kw }}" class="icon-right">
                {{ kw }}
            </a>
        </li>
    {% endfor %}
    </ul>

{% endmacro %}

