{% macro do_keywords(post) -%}
{%- for k in post.keywords|split(',') %}
    <a class="btn btn-xs btn-link" href="/search/keywords/{{ k|strip }}">{{ k }}</a>
{%- endfor %}
{%- endmacro %}

{% macro post_link(post, bgclass) %}
<div class="container-fluid {{ bgclass }}">
	<div class="row">
		<div class="col-xs-12">
			<h2><i class="fa fa-file-text-o icon-left"></i>
				<a href="{{ post|slugify }}">{{ post.title }}</a>
			</h2>
		</div>
	</div>

	<div class="row post-link-header">
		<div class="col-xs-8">
			<ul class="list-unstyled">
				<li>
					<i class="fa fa-code icon-left"></i><a class="btn btn-xs btn-link" href="/search/topic/{{ post.topic }}/">{{ post.topic }}</a>
					<i class="fa fa-hashtag icon-right icon-left"></i>{{- do_keywords(post) }}
				</li>
				<li><i class="fa fa-calendar-o icon-left"></i>{{ post.modified|datetime_format }}</li>
			{% if current_user %}
				<li><a href="/admin/create?post_id={{ post.uuid }}">Edit</a></li>
			{% endif %}
			</ul>
		</div>
	</div>

	<div class="row">
		<div class="col-xs-12">
			<small class="text-uppercase text-muted">summary</small>
			<p>
				<em class="quote">{{ post.summary }}</em>
			</p>
		</div>
	</div>

	<div class="row post-link-footer">
		<div class="col-xs-12">
			<p class="post-summary">
				{{ post.content|truncate(300)}}
			</p>
		</div>
	</div>
</div>
{% endmacro %}

{% macro render_navigation(keywords, topics) %}
    <h3>Topics</h3>
    <ul class="list-unstyled">
    {% for topic in topics %}
        <li class="text-capitalize">
            <a href="/search/topic/{{ topic }}">{{ topic }}</a>
        </li>
    {% endfor %}
    </ul>
    <h3>Keywords</h3>
    <ul class="list-unstyled">
    {% for kw, count in keywords %}
        <li>
            <span class="label label-default">{{ count }}</span>
            <a href="/search/keywords/{{ kw }}" class="icon-right">
                {{ kw }}
            </a>

        </li>
    {% endfor %}
    </ul>
{% endmacro %}

