<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{% block seo_description %}{{ seo.description }}{% endblock %}">
    <meta name="keywords" content="{% block seo_keywords %}{{ seo.keywords }}{% endblock %}">
    <meta name="author" content="{{ seo.author }}">

    <!-- meta links -->
    <link rel="icon" type="image/ico" href="/favicon.ico">
    <link rel="feed" type="application/atom+xml" href="/feed.atom" title="All Articles">

    <!-- google meta -->
    <link rel="author" href="https://plus.google.com/{{ seo.google.author_id }}">

    <!-- facebook meta -->
    <meta property="og:title" content="{{ post.title if post is defined else seo.title }}">
    <meta property="og:type" content="{% if post is defined %}article{% else %}blog{% endif %}">

    <!-- twitter meta -->
    <meta name=”twitter:card” content=”summary”>
    <meta name=”twitter:url” content=”{{ this_url }}”>
    <meta name=”twitter:description” content=”{{ post.summary if post is defined else seo.description }}”>

    <!-- small icons -->
    <meta name="twitter:image" content="{{ seo.img }}">
    <meta property="og:image" content="{{ seo.img }}">

    <title>{% block title %}{% endblock %}</title>

    {% include "base/_styles.html" %}
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-xs-8 even-result">
                {% block content %}{% endblock %}
            </div>
        </div>
    </div>

    {% include "base/_scripts.html" %}
</body>
</html>