html {
    position: relative;
    min-height: 100%;
}
body {
    font-size: 1.6em;
    background: #131313 url('/static/img/zwartevilt.png');
}

div.main-area {
    background-color: white;
    padding-bottom: 6.5em;
}

div.main-content {

}

div.main-content h2.title {
    border-bottom: dashed 1px #232323;
}

div.post-content {
    padding-top: 2em;
    padding-bottom: 2em;
    border-top: dashed 1px #a1a1a1;
    border-bottom: dashed 1px #a1a1a1;
}

div.post-link-title {
    padding-bottom: 0.5em;
}

div.post-link-header {
    padding: 0.5em;
    margin-bottom: 0.25em;
    border-bottom: dashed 1px #a1a1a1;
    background-color: rgba(59, 64, 59, 0.05);
}

div.post-link-footer {
    padding-bottom: 1em;
}

pre {
    background-color: #232323;
}

p em.quote {
    display: block;
    padding-top: 0.5em;
    padding-left: 3em;
    padding-right: 1em;
    font-size: 90%;
}

p.post-summary {
    font-size: 110%;
}

.custom-navbar-brand {
    float: left;
    font-size: 18px;
    padding-top: 24px;
}

.footer {
    padding-top: 1em;
    bottom: 0;
    width: 100%;
    color: #dddddd;
    background: #131313 url('/static/img/zwartevilt.png');
}

.footer-logo {
    margin-bottom: -14px;
    z-index: 50;
}

.logo-badge {
    padding: 5px;
    height: 48px;
}

.logo-badge-width {
    padding: 5px;
    width: 128px;
}

.core-background {
    min-height: 5em;
    background: #131313 url('/static/img/zwartevilt.png');
}

.icon-left {
    padding-right: 0.75em;
}

.icon-right {
    padding-left: 0.75em;
}

.core-background img {
    display: inline;
    max-height: 32px;
    margin-left: 32px;
    margin-top: -8px;
}

.navbar-brand img {
    max-width: 100%;
    max-height: 100%;
}

.page-spacer {
    height: 1em;
    background: #676863;
}

.odd-result {
    padding: 0.5em 1em;
    background-color: transparent;
    border-right: 3px solid #373737;
    border-top: 1px solid #aeaba6;
    border-radius: 5px;
}

.even-result {
    padding: 0.5em 1em;
    background-color: #f8f5f0;
    border-left: 3px solid #c6c3be;
    border-top: 1px solid #c6c3be;
    border-radius: 5px;
}

.meta-list {
    color: #3B403B;
}

.icon-column-search {
    text-align: right;
    width: 48px;
    padding-right: 16px;
}

.icon-column {
    display: inline-block;
    width: 24px;
}

.value-column {
    text-align: left;
    display: inline-block;
    width: 160px;
}

.inline-label {
    display: inline-block;
    min-width: 36px;
}

p.page-post-summary {
    padding-left: 4em;
    padding-right: 2em;
    padding-bottom: 1.5em;
    font-style: italic;
    font-size: 110%;
    font-family: times;
}

#media-floater {
    
}