html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    background-color: #f5f5f5;
}

.core-background {
    min-height: 8em;
    background-image: url('/static/img/fabric.png');
    margin-bottom: 2em;
}

i.icon-left {
    padding-right: 0.75em;
}

i.icon-right {
    padding-left: 0.75em;
}