{% extends "_base.html" %}

{% block title %}
: Home
{% end %}

{% block content %}

    {% for index, post in enumerate(posts['results']) %}
{% if current_user is not None %}
                    <a href="/create?post_id={{ post['uuid'] }}">Edit</a>
                {% end %}

        <div class="post">
            <div class="post-title">
                {% set s_url, s_date = post['slug'] %}

                <a href="/blog/{{ post['uuid'] }}/{{ s_date }}/{{ s_url }}">
                    {{ post['title'] }}
                </a>
            </div>
            {{ post['modified'].strftime('%h %d-%Y') }}, {{ post.get('author', 'Blake') }}
            <div class="post-body">
                <div class="post-keywords">
                    <span class="oi" data-glyph="tag"></span>
                    {% for kw in post['keywords'].split() %}
                        <a href="#" class="button-xs pure-button">{{ kw.strip(', ') }}</a>
                    {% end %}
                </div>
                <div class="pure-g">
                    <div class="pure-u-1-4">
                        <span class="oi" data-glyph="double-quote-serif-left"></span>
                    </div>
                    <div class="pure-u-3-4 text post-summary">
                        <p>{{ post['summary'] }}</p>
                        <div class="air-quote quote-right">
                            <a href="#">
                                <span class="oi" data-glyph="double-quote-serif-right"></span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% end %}

{% end %}