{% extends "_base.html" %}

{% block title %}
: Home
{% end %}

{% block content %}

    {% for index, post in enumerate(posts['results']) %}
{% if current_user is not None %}
                    <a href="/create?post_id={{ post['uuid'] }}">Edit</a>
                {% end %}

        <div class="post">
            <div class="post-title">
                {% set s_url, s_date = post['slug'] %}

                <a href="/blog/{{ post['uuid'] }}/{{ s_date }}/{{ s_url }}">
                    {{ post['title'] }}
                </a>
            </div>
            {{ post['modified'].strftime('%h %d-%Y') }}, {{ post.get('author', 'Blake') }}

            <div class="post-body">
                <span class="oi icon-push" data-glyph="tag"></span>
                {% for kw in sorted(post['keywords'].split()) %}
                    <a href="#" class="button-xs pure-button">{{ kw.strip(', ') }}</a>
                {% end %}

                <p>{{ post['summary'] }}</p>

            </div>
        </div>
    {% end %}

{% end %}