{% if printable %}
	{% extends "base/base-printable.html" %}
{% else %}
	{% extends "base/base.html" %}
{% endif %}

{% from "base/_macros.html" import do_keywords %}

{% macro printable_navbar() %}
	<div class="row">
		<div class="col-xs-12 text-center">
			<a href="javascript: window.history.back();" class="btn btn-link"><i class="fa fa-chevron-left icon-left"></i> Back</a>
			<a href="/" class="btn btn-link">Home <i class="fa fa-home icon-right"></i></a>
		</div>
	</div>
{% endmacro %}

{% macro media_files_box() %}
	<div id="media-floater">

	</div>
{% endmacro %}

{% block title %}
	{{ post.title }} - {{ post.topic }} : SowingSeasons
{% endblock %}

{% block pre_content %}
	{% if post.banner %}
		<img id="banner-area" src="/media/{{ post.banner }}" alt="">
	{% endif %}
{% endblock %}

{% block content %}
	{% if not printable %}
	<ol class="breadcrumb">
		<li><a href="/">Home</a></li>
		<li><a href="/search/topic/{{ post.topic }}">{{ post.topic }}</a></li>
		<li>Blog Post</li>
	</ol>
	{% endif %}

	<div class="row">
		<div class="col-sm-1">
			{% set icon = post.pmeta.icon or 'fa-file-text-o' %}

			<h2><i class="fa {{ icon }} icon-left"></i></h2>
		</div>
		<div class="col-sm-10">
			<h2>
				{{ post.title }}
			</h2>
		</div>
	</div>

	<div class="row">
		<div class="col-sm-8">
			<ul class="list-unstyled">
				<li>
					<i class="fa fa-code icon-column"></i>
					<a class="btn btn-xs btn-link value-column" href="/search/topic/{{ post.topic }}">{{ post.topic }}</a>
					<i class="fa fa-hashtag icon-column"></i>
					{{- do_keywords(post) }}
				</li>
				<li>
					<i class="fa fa-calendar-check-o icon-column"></i>
					<div class="value-column">created, {{ post.created|datetime_format }}</div>
					<i class="fa fa-calendar-plus-o icon-column"></i>
					<div class="value-column">updated, {{ post.modified|datetime_format }}</div>
				</li>
				<li>
					<i class="fa fa-at icon-column"></i>
					<a class="value-column" href="mailto: {{ seo.author_email }}">{{ seo.author_name }}</a>
				</li>
				<li>
					<br>
					<i class="fa fa-commenting icon-column"></i>
					<a class="value-column" href="{{ this_url_raw }}#disqus_thread">Comments</a>
				</li>
			{% if current_user %}
				<li><a href="/admin/create?post_id={{ post.uuid }}">Edit</a></li>
			{% endif %}
			</ul>
		</div>
	</div>

	{% if not printable %}
	<div class="text-right">
		<small>
			<a href="?printable">Print</a> <i class="fa fa-print icon-right"></i>
		</small>
	</div>
	{% else %}
		{{ printable_navbar() }}
	{% endif %}

	<div class="row">
		<div class="col-sm-12 post-content">
			<p class="page-post-summary">
				{{ post.summary }}
			</p>

			{% if post.statics %}
				{{ media_files_box() }}
			{% endif %}

			{{ post.content|markdown|safe }}
		</div>
	</div>

	{% if not printable %}
	<div class="row">
		<div class="col-sm-12">
			<h3><i class="fa fa-asterisk icon-left"></i>Related</h3>
		</div>
	</div>

	<div class="row">
		{% for rel in related.results %}
			<div class="col-sm-4">
				<div class="well">
					<h4>
						<a href="{{ rel|slugify }}">{{ rel.title|truncate(30) }}</a>
					</h4>
					<a class="btn btn-sm btn-default" href="/search/topic/{{ rel.topic }}">{{ rel.topic|upper }}</a>
					<br>
					<br>
					<small>
						<p>{{ rel.summary|truncate(120) }}</p>
					</small>
				</div>
			</div>
		{% endfor %}
	</div>

	<div class="row">
		<div class="col-sm-12">
			<h3><i class="fa fa-comments-o icon-left"></i>Comments</h3>
		</div>
	</div>

	<div class="row">
		<div class="col-sm-12">
			<div id="disqus_thread"></div>
			<script>
				var disqus_config = function () {
					this.page.url = '{{ this_url }}';
					this.page.identifier = '{{ post.uuid }}';
				};
				(function() {
				var d = document, s = d.createElement('script');
				s.src = '//sowingseasons.disqus.com/embed.js';
				s.setAttribute('data-timestamp', +new Date());
				(d.head || d.body).appendChild(s);})();
			</script>
			<noscript>
				Please enable JavaScript to view the
				<a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a>
			</noscript>
		</div>
	</div>

	<script id="dsq-count-scr" src="//sowingseasons.disqus.com/count.js" async></script>
	{% else %}
		{{ printable_navbar() }}
	{% endif %}
{% endblock %}