{% extends "base/base.html" %}
{% from "base/_macros.html" import do_keywords %}

{% block title %}
	{{ post.title }} - {{ post.topic }} : SowingSeasons
{% endblock %}

{% block content %}
	<ol class="breadcrumb">
		<li><a href="/">Home</a></li>
		<li><a href="/search/topic/{{ post.topic }}/">{{ post.topic }}</a></li>
		<li>Blog Post</li>
	</ol>

	<h2><i class="fa fa-file-text-o icon-left"></i>{{ post.title }}</h2>

	<div class="row">
		<div class="col-xs-8">
			<ul class="list-unstyled">
				<li>
					<i class="fa fa-code icon-left"></i><a class="btn btn-xs btn-link" href="/search/topic/{{ post.topic }}/">{{ post.topic }}</a>
					<i class="fa fa-hashtag icon-right icon-left"></i>{{- do_keywords(post) }}
				</li>
				<li>
					<i class="fa fa-at icon-left"></i><a href="mailto: {{ seo.author_email }}">{{ seo.author_name }}</a>
					<i class="fa fa-calendar-o icon-right icon-left"></i>{{ post.modified|datetime_format }}
				</li>
			{% if current_user %}
				<li><a href="/admin/create?post_id={{ post.uuid }}">Edit</a></li>
			{% endif %}
			</ul>
		</div>
	</div>

	<div class="row">
		<div class="col-xs-12 post-content">
			{{ post.content|markdown }}
		</div>
	</div>

	<div class="row">
		<div class="col-xs-12">
			<h3><i class="fa fa-asterisk icon-left"></i>Related</h3>
		</div>
	</div>

	<div class="row">
		{% for rel in related.results %}
			<div class="col-xs-4">
				<div class="well">
					<h4>
						<a href="{{ rel|slugify }}">{{ rel.title|truncate(30) }}</a>
					</h4>
					<a class="btn btn-sm btn-default" href="/search/topic/{{ rel.topic }}">{{ rel.topic|upper }}</a>
					<br>
					<br>
					<small>
						<p>{{ rel.summary|truncate(120) }}</p>
					</small>
				</div>
			</div>
		{% endfor %}
	</div>

	<div class="row">
		<div class="col-xs-12">
			<h3><i class="fa fa-comments-o icon-left"></i>Comments</h3>
		</div>
	</div>

	<div class="row">
		<div class="col-xs-12">
			<div class="well">
				PLACEHOLDER
			</div>
		</div>
	</div>
{% endblock %}