{% extends "base/base.html" %}
{% from "base/_macros.html" import post_link, render_navigation %}

{% block title %}
    Home : SowingSeasons
{% endblock %}

{% block content %}
    <ol class="breadcrumb">
        <li><a href="/">Home</a></li>
    </ol>

    <h2>Newest Posts</h2>
    <ul>
    {% for post in posts.results %}
        {% set bgclass = loop.cycle('odd-result', 'even-result') %}
        {{ post_link(post, bgclass) }}
    {% endfor %}
    </ul>
{% endblock %}

{% block navigation %}
    {{ render_navigation(keywords, topics) }}
{% endblock %}

