{% extends "base/base.html" %}
{% from "base/_macros.html" import post_link, render_navigation %}

{% block title %}
    Home : SowingSeasons
{% endblock %}

{% block content %}
    <ol class="breadcrumb">
        <li><a href="/">Home</a></li>
    </ol>

    <h2>
        <i class="fa fa-newspaper-o icon-left"></i>
        Newest Posts
    </h2>

    <div class="text-right">
        Newest posts <a href="/feed.atom"><i class="fa fa-rss"></i></a>
    </div>

    <ul>
    {% for post in posts.results %}
        {% set bgclass = loop.cycle('odd-result', 'even-result') %}
        {{ post_link(post, bgclass) }}
    {% endfor %}
    </ul>
{% endblock %}

{% block navigation %}
    {{ render_navigation(keywords, topics) }}
{% endblock %}

