@import url("https://fonts.googleapis.com/css?family=Open+Sans");

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Open Sans', sans-serif;
}

div.page-container {
    position: relative;
    min-height: 100%;
}

div.header {
    height: 2.5em;
    padding-top: 0.5em;
    padding-bottom: 0.25em;
    background-color: #332532;
    border-bottom: 0.25em solid #644D52;
    color: #876f74;
    z-index: 99;
}

div.header #logo {
    padding-right: 0.75em;
}

div.footer {
    position: absolute;
    bottom: 0;
    height: 12em;
    width: 100%;
    margin-top: 3em;
    background-color: #644D52;
    border-bottom: solid 30px #332532;
}

div.footer a {
    color: #231722;
    text-decoration: none;
}

div.footer a:hover {
    color: #876f74;
    text-decoration: dashed;
}

div.footer-inner {
    padding: 1em;
}

div.footer-inner ul {
    list-style: none;
}

div.footer-inner ul > li {
    line-height: 1.5em;
}

div.footer-inner ul > li:before {
    content: '-'; /* en dash */
    position: absolute;
    margin-left: -1em;
}

div.content {
    margin-top: 3em;
    padding-bottom: 15em; /* height of the footer + margin */
}

a.pure-menu-link:hover {
    background-color: rgba(135, 111, 116, 0.24);
}


.text-middle {
    vertical-align: middle;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

a, a:active, a:visited {
    color: #F77A52;
}

a.pure-menu-link {
    color: #A49A87;
}


a:hover {
    color: #FF974F;
}

div.legendary {
    color: #332532;
    font-size: 115%;
    width: 75%;
    border-bottom: 1px dashed black;
    margin-bottom: 0.75em;
}

div.error-box {
    border-radius: 5px;
    background-color: rgba(255, 31, 73, 0.18);
    border: solid 1px rgb(255, 31, 73);
    max-width: 320px;
    padding: 1em;
}

div.error-box .message {
    margin-left: 1em;
}

div.error-box .oi {
    color: rgb(193, 27, 56);
}

div.pad-me {
    padding: 3em;
}

.right-floater {
    float: right;
}

.post {
    margin-bottom: 3em;
}

.post-body {
    padding-left: 3em;
    padding-top: 1.5em;
    font-size: 125%;
}

.post-title {
    font-size: 175%;
}

.post-title a {
    color: black;
    text-decoration: none;
}

.post-keywords {
    margin-left: 3em;
    padding-left: 2em;
    border-left: solid 3px #644D52;
}

.post-keywords span {
    padding-right: 1em;
}

.post-summary {
    font-style: italic;
    margin-left: 3em;
    padding-left: 2em;
    border-left: solid 3px #bb9fa4;
}

.post-summary .text {
    padding-right: 1em;
}

.post-section {
    padding-bottom: 0.75em;
}

.post-section .section-header {
    padding-bottom: 0.6em;
}

.post-section .section-header .oi {
    padding-right: 0.5em;
}

.post-section p.post-content {
    font-size: 120%;
}

.air-quote {
    font-size: 200%;
}

.quote-right {
    text-align: right;
    vertical-align: bottom;
}

a.button-xs {
    color: black;
    font-size: 70%;
}
